* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  background: linear-gradient(0deg, var(--secondary) 0%, var(--secondary) 39%, transparent 39%);
}

.nav_container {
  display: flex;
  width: 85%;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: var(--primary);
}

nav h1 {
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-left: 0;
}

nav ul li {
  border-bottom: 5px solid var(--secondary);
  cursor: pointer;
  list-style: none;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75rem;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
}

.header_container {
  display: flex;
  width: 85%;
  height: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.header_container h1 {
  width: 50%;
  color: var(--white);
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.4rem;
}

.header_container ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-left: 0;
}

.header_container ul li {
  list-style: none;
  width: 2rem;
  height: 2rem;
}


.header_container p {
  color: var(--gray);
  width: 30%;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.1rem;
}

header button {
  display: flex;
  width: 12.9rem;
  padding: 1.2rem 2.4rem 1.2rem 2.4rem;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--secondary);
  box-shadow: 9px 9px 0px 0px var(--white);
  font-size: 19.2px;
  font-weight: 700;
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: var(--white);
}

section {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionAbout_container,
.sectionProjects_container {
  display: flex;
  width: 60%;
  height: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sectionAbout_container h1 {
  margin-bottom: 5.2rem;
  color: var(--primary);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.75rem;
}

.sectionAbout_container article {
  display: flex;
  flex-direction: row;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-content: flex-start;
}

.about h3 {
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75rem;
  padding: 0.25rem 0.68rem 0.25rem 0.68rem;
  background-color: var(--primary);
}

.about h2 {
  width: 100%;
  color: var(--primary);
  margin-top: 2.4rem;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.5rem;
}

.about p, .display_mobile {
  color: var(--primary);
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2rem;
}

#projects_title {
  margin-bottom: 5.2rem;
  color: var(--primary);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.75rem;
}

.content_right {
  width: 100%;
  display: flex;
  margin-bottom: 5rem;
  flex-direction: column;
  flex-wrap: wrap;
}

.content_left {
  width: 100%;
  display: flex;
  margin-bottom: 5rem;
  flex-direction: column;
  flex-wrap: wrap;
}

.content_right h2,
.content_left h2 {
  color: var(--primary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.1rem;
}

.article_content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.article_content h1 {
  width: 100%;
  color: var(--primary);
  font-size: 3rem;
  font-weight: 400;
  line-height: 4.4rem;
  margin-bottom: 0.9rem;
}

.article_content .about {
  width: 50%;
}

.display_mobile {
  display: none;
}

.article_content img {
  width: 50%;
  border-radius: 1rem;
}

.article_content button {
  display: flex;
  width: 11.9rem;
  padding: 1.2rem 2.4rem 1.2rem 2.4rem;
  /* margin-top: 2.4rem; */
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--secondary);
  box-shadow: 9px 9px 0px 0px var(--primary);
  cursor: pointer;
  color: var(--white);
  font-size: 19.2px;
  font-weight: 700;
  line-height: 33.6px;
}

.article_content a {
  text-decoration: none;
}

#contact {
  padding-bottom: 200px;
}

#contact article {
  width: 27%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url("./assets/coffecup.png");
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 200px;
}

#contact h1 {
  color: var(--primary);
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.3rem;
  margin-bottom: 1rem;
}

#contact h3 {
  color: var(--secondary);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.25rem;
}

form {
  width: 60%;
}

form p {
  color: rgb(7, 177, 44);
}

.form-control {
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}

textarea.form-control {
  resize: none;
}

#contact button {
  display: flex;
  width: 12.9rem;
  padding: 1.2rem 2.4rem 1.2rem 2.4rem;
  margin-top: 2.8rem;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--secondary);
  box-shadow: 9px 9px 0px 0px var(--primary);
  color: var(--white);
  font-size: 19.2px;
  font-weight: 700;
  cursor: pointer;
}

footer {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--white);
  background-color: var(--primary);
}

.footer_container {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name_container h1 {
  width: 30%;
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
}

.name_container p {
  width: 65%;
  color: var(--gray);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.links_container h2,
.getInTouch_container h2 {
  color: var(--gray);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.links_container ul,
.getInTouch_container ul {
  padding: 0;
}

.links_container ul li {
  list-style: none;
}

.links_container ul li a {
  color: var(--secondary);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.getInTouch_container ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.getInTouch_container ul li {
  list-style: none;
}

@media (max-width: 425px) {
  body {
    width: 425px;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav {
    width: 100%;
    position: unset;
  }

  header {
    justify-content: flex-start;
    padding-top: 10%;
  }

  .header_container h1 {
    font-size: 3rem;
    line-height: 3.4rem;
  }

  .header_container p {
    width: 100%;
  }

  header a {
    padding-top: 10rem;
  }

  .sectionAbout_container,
  .sectionProjects_container {
    width: 85%;
  }

  .sectionAbout_container article {
    display: flex;
    flex-direction: column;
  }

  #about img {
    width: 50%;
    height: 100%;
  }

  .about {
    width: 100%;
    padding: 2rem 0;
  }

  .article_content {
    flex-direction: column;
  }

  .article_content h1 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .article_content .about {
    width: 100%;
    padding-top: 0.5rem;
  }

  .article_content img {
    width: 100%;
    margin-bottom: 2rem;
  }

  .article_content a {
    width: 12rem;
    text-decoration: none;
  }

  .article_content button {
    width: 100%;
  }
  .display_desktop{
    display: none;
  }
 .display_mobile{
  display: block;
 }
  #contact article {
    width: 85%;
    height: 60vh;
    background-image: none;
  }

  #contact h1 {
    font-size: 3rem;
  }

  #contact h3 {
    width: 50%;
  }
form{
  width: 100%;
}
  .footer_container {
    width: 85%;
  }

  .name_container {
    width: 30%;
  }
}